body {
    background-color: beige;
  }
  
  h1 {
    color: black;
    text-align: center;
  }
  
  .interests {
    text-align:center;
  }

  p {
    font-size: 20px;
  }

  .btn-container {
    display: flex;
  }